<div class="field-group">
	<label>Name</label>
	<input class="form-control" id="name" {{bind-attr value="view.channel.name"}} name="name" type="TEXT"/>
</div>
<div class="field-group">
	<label>Avatar</label>
	<input class="form-control" id="file" type="file"/></br>
</div>
<div class="field-group">
	<label>Description</label>
	{{wysiwyg-editor content=channel.description}}
	<br/>
</div>
