<div class="row">
	<div class="col-xs-3"><img class="largeImage" {{bindAttr src="avatar.avatar.url"}}></img></div>
	<div class="col-xs-6">{{description}}</div>
	<legend>{{name}}</legend>
</div>
<div class="row">
    {{#each video in videos}}    
    	{{video-thumbnail video=video currentUser=controllers.currentUser}}
    {{/each}}
</div>