<form id="signUpForm" {{action signUp  on="submit"}}>
	<fieldset>
		<legend>Sign Up</legend>
		{{partial user_form}}
		{{input class="btn primary" type="submit" value="Sign Up" }}
	</fieldset>
</form>