<form id="signUpForm" {{action signUp on="submit"}}>
	<fieldset>
		<legend>Sign Up</legend>
		{{user-form email=email password=password}}
		{{input class="btn primary" type="submit" value="Sign Up" }}
	</fieldset>
</form>
