<div id="videoForum">
  <forum name="video" type="post">
    <legend> Choose a File to Upload</legend>
		<div class="well fileinput-button" id="dropZone">
			<span class="fileinput-button">
				<input id="fileupload" type="file" name="file"/>
				<i class="fa fa-upload fa-3x"></i></br>
				<span>Upload File</span>
			</span>
		</div>
</div>
